<div class="container">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top d-flex justify-content-around align-items-center my-5"
  >
    <div class="col mb-3">
      <a
        href="/my"
        class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
      >
        <img
          src="./images/emoticalm_logo.png"
          alt="Emoticalm logo"
          width="250px"
        />
      </a>
      <p class="text-body-secondary">Emoticalm © 2024</p>
    </div>

    <div class="col mb-3">
      <h5>Features</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/my" class="nav-link p-0 text-body-secondary"
            ><i class="fa-solid fa-angles-right mx-1"></i>Home</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/diary" class="nav-link p-0 text-body-secondary"
            ><i class="fa-solid fa-angles-right mx-1"></i>My Diary</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/calendar" class="nav-link p-0 text-body-secondary"
            ><i class="fa-solid fa-angles-right mx-1"></i>Calendar</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/forum" class="nav-link p-0 text-body-secondary"
            ><i class="fa-solid fa-angles-right mx-1"></i>Forum Discussion</a
          >
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Contact Us</h5>
      <p class="mb-2">
        <i class="fa fa-map-marker-alt me-3"></i>Jl. Lenteng Agung, Jakarta
        Selatan
      </p>
      <p class="mb-2"><i class="fa fa-mobile-alt me-3"></i>0812 3456 7890</p>
      <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>021 9999 000</p>
      <p class="mb-2"><i class="fa fa-envelope me-3"></i>cs@emoticalm.com</p>
    </div>
  </footer>
</div>
