<%- layout('./layouts/mainAfterLogin') %>
<section
  class="container-lg d-flex flex-column justify-content-center align-items-center calendar-container"
>
  <h1>Sorry!</h1>
  <h4 class="text-center">calendar feature is under development</h4>
</section>
