 /* ukuran layar mobile */
 @media (max-width: 767px) {

    .card {
      width: 100%; 
    }
  
    .welcome-back {
      display: none;
    }
    .card-1 h3 {
      padding-left: 0%;
    }
  
    .form-group {
      margin-bottom: 30px;
      padding-left: 0%;
      padding-right: 20px;
    }
  
    .btn {
      margin-left: 0%; 
    }
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 92vh; 
    }
  
  }
  
  /* ukuran layar ipad */
  @media only screen and (min-width: 768px) and (max-width: 1025px) {
    .container {
      width: 110%; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      max-width: none; 
      position: absolute; 
    }
  }
  
  @media only screen and (min-width: 1026px) and (max-width: 2397px) {
    .container {
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -54%); 
      max-width: none; 
      position: absolute; 
      width: 95%; /* Sesuaikan lebar */
    }
    .welcome-back{
        padding-top: 20%;
    }
  }
  
  
  